</html>
<!DOCTYPE html>
<html>

<head>
    <title>搶救學分大作戰</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/based.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/sidebar.css') }}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Acme|Josefin+Slab|Kreon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/w3css/4/w3.css">

</head>
<!-- A place where you shouldn't be. -->

<body>
    <div id="sidebar-block"></div>
    <div id="header-block"></div>
    <div class="content" style="float: left; text-align: center; align-items: center; justify-content: center;">
        <h1>登入</h1>
        <div>

            <form
                style=" background-color:white; width:80%; height:350px; border:2px solid; border-radius:10px; padding-bottom:50px; margin: auto;">
                <div style="font-family: 'Nunito Sans', sans-serif; margin-top:65px; font-size:18px">
                    <h3>username:</h3>
                    <input name="name" type="text" style="border-radius:6px; width:180px; height:18px;">
                    <h3>password:</h3>
                    <input name="password" type="password" style="border-radius:6px; width:180px; height:18px;">

                    <div style="margin-top:40px;">
                        <button style="font-family:'Kreon', serif; font-size:17px;" , onclick="myBtn()">Sign in</button>
                    </div>
                </div>
            </form>
        </div>

        <script type="text/javascript">
            function myBtn() {
                alert("You just signed in for nothing !");
            }
        </script>
    </div>

    <script src="{{ url_for('static', filename='js/scoreboard.js') }}"></script>
    </div>
    <script src="{{ url_for('static', filename='js/scoreboard.js') }}"></script>
</body>

</html>